**
!Dockerfile
!src/
!src/backend/
!src/backend/AlexDirectorConsole.V2.Api/
!src/backend/AlexDirectorConsole.V2.Api/**
!src/database/
!src/database/**
!src/frontend/
!src/frontend/**

src/**/bin/
src/**/obj/
src/**/node_modules/
src/**/dist/
src/**/App_Data/
src/**/*.user
src/**/*.suo
src/**/.env*
